In [1]:
import pandas as pd
import ast

In [2]:
df = pd.read_csv('new_students_data.csv')

In [3]:
df

,ID,FULLNAME,STUDY_YEAR,EMAIL,STATUS,SCHOOL,EDUCATION_PROGRAM,MONDAY,TUESDAY,WEDNESDAY,THURSDAY,FRIDAY
0,210006,Urazimbetova Miyrigul Xojaaxmet qizi,4,2110006@newuu.uz,Enrolled,SCHOOL OF ENGINEERING,Chemical and Materials Engineering,"{'M1': ['MATH 205', ['Calculus 2 - Fall 2024']...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
1,210009,Goyibnazarov Ruzmatboy Oybek o‘g‘li,4,2110009@newuu.uz,Enrolled,SCHOOL OF ENGINEERING,Mechanical Engineering,"{'M1': ['MATH 105', ['MATH211 Calculus 2 - Spr...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': ['MATH B01', ['Computational...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
2,210015,Mirzabayev Damir Baxodir uli,3,2110015@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 205', ['SEC111 Comput...","{'T1': '0', 'T2': ['MATH 105', ['Numerical Met...","{'W1': '0', 'W2': ['MATH 105', ['Microeconomic...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
3,210017,Shinpolatov Nurdaulet Marat uli,4,2110017@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': ['MATH 105', ['Artifical I...","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
4,210018,Xolmurodov Bunyodbek Ruslanbek o‘g‘li,4,2110018@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 205', ['SEC111 Comput...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': ['MATH 105', ['Artifical I...","{'F1': '0', 'F2': ['MATH 105', ['Fluid Mechani..."
...,...,...,...,...,...,...,...,...,...,...,...,...
467,240498,Ibroximov Ibrohimjon Murod o'g'li,1,i.ibrohimov@newuu.uz,Enrolled,"SCHOOL OF HUMANITIES, NATURAL & SOCIAL SCIENCES",Applied Mathematics,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': ['MATH 105', ['Nanotechnology and Advan...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
468,240502,Adilov Abdumajid Abduqayumovich,1,a.adilov@newuu.uz,Enrolled,"SCHOOL OF HUMANITIES, NATURAL & SOCIAL SCIENCES",Economics and Data Science,"{'M1': ['MATH 107', ['MATH211 Calculus 2 - Spr...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
469,240506,Yoqubov Shohjaxon Shavkat o‘g‘li,1,sh.yoqubov@newuu.uz,Enrolled,"SCHOOL OF HUMANITIES, NATURAL & SOCIAL SCIENCES",Pedagogy,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': ['MATH 106', ['PHYS101 Physics 1 - Spr...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
470,240510,Raximov Azizbek Bektashovich,1,a.raximov@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 106', ['MATH111 Calcu...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': ['MATH 106', ['PHYS101 Physics 1 - Spr...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
471,240511,Muxiddinova Shaxzodabonu Zafarovna,1,sh.muxiddinova@newuu.uz,Enrolled,SCHOOL OF MANAGEMENT,Industrial Management,"{'M1': '0', 'M2': ['MATH 106', ['MATH111 Calcu...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"

In [4]:
df['MONDAY'] = df['MONDAY'].apply(ast.literal_eval)
df['TUESDAY'] = df['TUESDAY'].apply(ast.literal_eval)
df['WEDNESDAY'] = df['WEDNESDAY'].apply(ast.literal_eval)
df['THURSDAY'] = df['THURSDAY'].apply(ast.literal_eval)
df['FRIDAY'] = df['FRIDAY'].apply(ast.literal_eval)

In [5]:
type(df['MONDAY'][2]['M2'][1][2])

str

In [6]:
df['MONDAY'][2]['M2'][1]

['SEC111 Computer Security', 'DSG201 Interaction Design', 'Bioengineering']

In [7]:
df.isnull().sum()

ID                   0
FULLNAME             0
STUDY_YEAR           0
EMAIL                0
STATUS               0
SCHOOL               0
EDUCATION_PROGRAM    0
MONDAY               0
TUESDAY              0
WEDNESDAY            0
THURSDAY             0
FRIDAY               0
dtype: int64

In [8]:
a = df.columns

In [9]:
for i in a:
    print(i, ' - ', type(df[i][0]))

ID  -  <class 'numpy.int64'>
FULLNAME  -  <class 'str'>
STUDY_YEAR  -  <class 'numpy.int64'>
EMAIL  -  <class 'str'>
STATUS  -  <class 'str'>
SCHOOL  -  <class 'str'>
EDUCATION_PROGRAM  -  <class 'str'>
MONDAY  -  <class 'dict'>
TUESDAY  -  <class 'dict'>
WEDNESDAY  -  <class 'dict'>
THURSDAY  -  <class 'dict'>
FRIDAY  -  <class 'dict'>

In [10]:
df

,ID,FULLNAME,STUDY_YEAR,EMAIL,STATUS,SCHOOL,EDUCATION_PROGRAM,MONDAY,TUESDAY,WEDNESDAY,THURSDAY,FRIDAY
0,210006,Urazimbetova Miyrigul Xojaaxmet qizi,4,2110006@newuu.uz,Enrolled,SCHOOL OF ENGINEERING,Chemical and Materials Engineering,"{'M1': ['MATH 205', ['Calculus 2 - Fall 2024']...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
1,210009,Goyibnazarov Ruzmatboy Oybek o‘g‘li,4,2110009@newuu.uz,Enrolled,SCHOOL OF ENGINEERING,Mechanical Engineering,"{'M1': ['MATH 105', ['MATH211 Calculus 2 - Spr...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': ['MATH B01', ['Computational...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
2,210015,Mirzabayev Damir Baxodir uli,3,2110015@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 205', ['SEC111 Comput...","{'T1': '0', 'T2': ['MATH 105', ['Numerical Met...","{'W1': '0', 'W2': ['MATH 105', ['Microeconomic...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
3,210017,Shinpolatov Nurdaulet Marat uli,4,2110017@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': ['MATH 105', ['Artifical I...","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
4,210018,Xolmurodov Bunyodbek Ruslanbek o‘g‘li,4,2110018@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 205', ['SEC111 Comput...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': ['MATH 105', ['Artifical I...","{'F1': '0', 'F2': ['MATH 105', ['Fluid Mechani..."
...,...,...,...,...,...,...,...,...,...,...,...,...
467,240498,Ibroximov Ibrohimjon Murod o'g'li,1,i.ibrohimov@newuu.uz,Enrolled,"SCHOOL OF HUMANITIES, NATURAL & SOCIAL SCIENCES",Applied Mathematics,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': ['MATH 105', ['Nanotechnology and Advan...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
468,240502,Adilov Abdumajid Abduqayumovich,1,a.adilov@newuu.uz,Enrolled,"SCHOOL OF HUMANITIES, NATURAL & SOCIAL SCIENCES",Economics and Data Science,"{'M1': ['MATH 107', ['MATH211 Calculus 2 - Spr...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
469,240506,Yoqubov Shohjaxon Shavkat o‘g‘li,1,sh.yoqubov@newuu.uz,Enrolled,"SCHOOL OF HUMANITIES, NATURAL & SOCIAL SCIENCES",Pedagogy,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': ['MATH 106', ['PHYS101 Physics 1 - Spr...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
470,240510,Raximov Azizbek Bektashovich,1,a.raximov@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 106', ['MATH111 Calcu...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': ['MATH 106', ['PHYS101 Physics 1 - Spr...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
471,240511,Muxiddinova Shaxzodabonu Zafarovna,1,sh.muxiddinova@newuu.uz,Enrolled,SCHOOL OF MANAGEMENT,Industrial Management,"{'M1': '0', 'M2': ['MATH 106', ['MATH111 Calcu...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"

In [11]:
df

,ID,FULLNAME,STUDY_YEAR,EMAIL,STATUS,SCHOOL,EDUCATION_PROGRAM,MONDAY,TUESDAY,WEDNESDAY,THURSDAY,FRIDAY
0,210006,Urazimbetova Miyrigul Xojaaxmet qizi,4,2110006@newuu.uz,Enrolled,SCHOOL OF ENGINEERING,Chemical and Materials Engineering,"{'M1': ['MATH 205', ['Calculus 2 - Fall 2024']...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
1,210009,Goyibnazarov Ruzmatboy Oybek o‘g‘li,4,2110009@newuu.uz,Enrolled,SCHOOL OF ENGINEERING,Mechanical Engineering,"{'M1': ['MATH 105', ['MATH211 Calculus 2 - Spr...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': ['MATH B01', ['Computational...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
2,210015,Mirzabayev Damir Baxodir uli,3,2110015@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 205', ['SEC111 Comput...","{'T1': '0', 'T2': ['MATH 105', ['Numerical Met...","{'W1': '0', 'W2': ['MATH 105', ['Microeconomic...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
3,210017,Shinpolatov Nurdaulet Marat uli,4,2110017@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': ['MATH 105', ['Artifical I...","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
4,210018,Xolmurodov Bunyodbek Ruslanbek o‘g‘li,4,2110018@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 205', ['SEC111 Comput...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': ['MATH 105', ['Artifical I...","{'F1': '0', 'F2': ['MATH 105', ['Fluid Mechani..."
...,...,...,...,...,...,...,...,...,...,...,...,...
467,240498,Ibroximov Ibrohimjon Murod o'g'li,1,i.ibrohimov@newuu.uz,Enrolled,"SCHOOL OF HUMANITIES, NATURAL & SOCIAL SCIENCES",Applied Mathematics,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': ['MATH 105', ['Nanotechnology and Advan...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
468,240502,Adilov Abdumajid Abduqayumovich,1,a.adilov@newuu.uz,Enrolled,"SCHOOL OF HUMANITIES, NATURAL & SOCIAL SCIENCES",Economics and Data Science,"{'M1': ['MATH 107', ['MATH211 Calculus 2 - Spr...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
469,240506,Yoqubov Shohjaxon Shavkat o‘g‘li,1,sh.yoqubov@newuu.uz,Enrolled,"SCHOOL OF HUMANITIES, NATURAL & SOCIAL SCIENCES",Pedagogy,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': ['MATH 106', ['PHYS101 Physics 1 - Spr...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
470,240510,Raximov Azizbek Bektashovich,1,a.raximov@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 106', ['MATH111 Calcu...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': ['MATH 106', ['PHYS101 Physics 1 - Spr...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
471,240511,Muxiddinova Shaxzodabonu Zafarovna,1,sh.muxiddinova@newuu.uz,Enrolled,SCHOOL OF MANAGEMENT,Industrial Management,"{'M1': '0', 'M2': ['MATH 106', ['MATH111 Calcu...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"

In [12]:
men = 182 + 73 + 17 + 9 + 5 + 4 + 3 + 2 + 2 + 2 + 2 + 12 + 4 + 64
women = 472 - men
# names = df['FULLNAME'].apply(lambda name: name.split()[-1])

In [13]:
# names.value_counts()

In [14]:
men

381

In [15]:
women

91

In [16]:
df['STUDY_YEAR'].value_counts()

STUDY_YEAR
1    178
2    167
3     72
4     55
Name: count, dtype: int64

In [17]:
df['EDUCATION_PROGRAM'].value_counts()

EDUCATION_PROGRAM
Software Engineering                  140
Economics and Data Science            102
Industrial Management                  60
Mechanical Engineering                 49
Cyber Security                         32
Chemical and Materials Engineering     30
AI and Robotics                        21
Pedagogy                               19
Applied Mathematics                    19
Name: count, dtype: int64

In [18]:
men

381

In [19]:
women

91

In [20]:
df

,ID,FULLNAME,STUDY_YEAR,EMAIL,STATUS,SCHOOL,EDUCATION_PROGRAM,MONDAY,TUESDAY,WEDNESDAY,THURSDAY,FRIDAY
0,210006,Urazimbetova Miyrigul Xojaaxmet qizi,4,2110006@newuu.uz,Enrolled,SCHOOL OF ENGINEERING,Chemical and Materials Engineering,"{'M1': ['MATH 205', ['Calculus 2 - Fall 2024']...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
1,210009,Goyibnazarov Ruzmatboy Oybek o‘g‘li,4,2110009@newuu.uz,Enrolled,SCHOOL OF ENGINEERING,Mechanical Engineering,"{'M1': ['MATH 105', ['MATH211 Calculus 2 - Spr...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': ['MATH B01', ['Computational...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
2,210015,Mirzabayev Damir Baxodir uli,3,2110015@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 205', ['SEC111 Comput...","{'T1': '0', 'T2': ['MATH 105', ['Numerical Met...","{'W1': '0', 'W2': ['MATH 105', ['Microeconomic...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
3,210017,Shinpolatov Nurdaulet Marat uli,4,2110017@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': ['MATH 105', ['Artifical I...","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
4,210018,Xolmurodov Bunyodbek Ruslanbek o‘g‘li,4,2110018@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 205', ['SEC111 Comput...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': ['MATH 105', ['Artifical I...","{'F1': '0', 'F2': ['MATH 105', ['Fluid Mechani..."
...,...,...,...,...,...,...,...,...,...,...,...,...
467,240498,Ibroximov Ibrohimjon Murod o'g'li,1,i.ibrohimov@newuu.uz,Enrolled,"SCHOOL OF HUMANITIES, NATURAL & SOCIAL SCIENCES",Applied Mathematics,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': ['MATH 105', ['Nanotechnology and Advan...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
468,240502,Adilov Abdumajid Abduqayumovich,1,a.adilov@newuu.uz,Enrolled,"SCHOOL OF HUMANITIES, NATURAL & SOCIAL SCIENCES",Economics and Data Science,"{'M1': ['MATH 107', ['MATH211 Calculus 2 - Spr...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
469,240506,Yoqubov Shohjaxon Shavkat o‘g‘li,1,sh.yoqubov@newuu.uz,Enrolled,"SCHOOL OF HUMANITIES, NATURAL & SOCIAL SCIENCES",Pedagogy,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': ['MATH 106', ['PHYS101 Physics 1 - Spr...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
470,240510,Raximov Azizbek Bektashovich,1,a.raximov@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 106', ['MATH111 Calcu...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': ['MATH 106', ['PHYS101 Physics 1 - Spr...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
471,240511,Muxiddinova Shaxzodabonu Zafarovna,1,sh.muxiddinova@newuu.uz,Enrolled,SCHOOL OF MANAGEMENT,Industrial Management,"{'M1': '0', 'M2': ['MATH 106', ['MATH111 Calcu...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"

In [21]:
df_for_cs = df[df['SCHOOL'] == 'SCHOOL OF COMPUTING']

let us make a barchart. This barchart should represent

number of students by exam schedule [M1, M2, M3, M4]

represents the number of students edu program by edu program

on the right side we need other engine that return the room number and what kind of exam taken in this room

In [22]:
df_for_cs

,ID,FULLNAME,STUDY_YEAR,EMAIL,STATUS,SCHOOL,EDUCATION_PROGRAM,MONDAY,TUESDAY,WEDNESDAY,THURSDAY,FRIDAY
2,210015,Mirzabayev Damir Baxodir uli,3,2110015@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 205', ['SEC111 Comput...","{'T1': '0', 'T2': ['MATH 105', ['Numerical Met...","{'W1': '0', 'W2': ['MATH 105', ['Microeconomic...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
3,210017,Shinpolatov Nurdaulet Marat uli,4,2110017@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': ['MATH 105', ['Artifical I...","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
4,210018,Xolmurodov Bunyodbek Ruslanbek o‘g‘li,4,2110018@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 205', ['SEC111 Comput...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': ['MATH 105', ['Artifical I...","{'F1': '0', 'F2': ['MATH 105', ['Fluid Mechani..."
5,210020,Djalolov Suxrobjon Abduvaxob o‘g‘li,4,2110020@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': ['MATH 105', ['Artifical I...","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
6,210060,Sobirjonov Muxammadazizbek Sherzodbek o‘g‘li,4,2110060@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': ['MATH 105', ['Fluid Mechani..."
...,...,...,...,...,...,...,...,...,...,...,...,...
460,240454,Asatullayev Elbek Behzod o‘g‘li,1,e.asatullayev@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': ['MATH 205', ['Object Orient...","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
461,240464,Sultonov Ozodbek Mansurovich,1,o.sultonov@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': ['MATH 106', ['PHYS101 Physics 1 - Spr...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
462,240465,Mavlonov Hasan Muzaffar o‘g‘li,1,h.mavlonov@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 106', ['MATH111 Calcu...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': ['MATH 106', ['PHYS101 Physics 1 - Spr...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
464,240483,Abdurasulov Abdurashid Sarvar o‘g‘li,1,a.abdurasulov@newuu.uz,Enrolled,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': ['MATH 107', ['MATH211 Calculus 2 - Spr...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
470,240510,Raximov Azizbek Bektashovich,1,a.raximov@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 106', ['MATH111 Calcu...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': ['MATH 106', ['PHYS101 Physics 1 - Spr...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"

In [23]:
se = df_for_cs[df_for_cs['EDUCATION_PROGRAM'] == 'Software Engineering']
cs = df_for_cs[df_for_cs['EDUCATION_PROGRAM'] == 'Cyber Security']
ai = df_for_cs[df_for_cs['EDUCATION_PROGRAM'] == 'AI and Robotics']

In [24]:
se = se[['STUDY_YEAR','SCHOOL', 'EDUCATION_PROGRAM', 'MONDAY']]
cs = cs[['STUDY_YEAR','SCHOOL', 'EDUCATION_PROGRAM', 'MONDAY']]
ai = ai[['STUDY_YEAR','SCHOOL', 'EDUCATION_PROGRAM', 'MONDAY']]

In [25]:
ai

,STUDY_YEAR,SCHOOL,EDUCATION_PROGRAM,MONDAY
112,2,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}"
113,2,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}"
114,2,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}"
115,2,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': ['MATH 205', ['Calculus 2 - Fall 2024']..."
116,2,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}"
117,2,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': ['MATH 205', ['Calculus 2 - Fall 2024']..."
239,2,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': '0', 'M2': '0', 'M3': ['MATH 105', ['MA..."
251,1,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': '0', 'M2': 'CW', 'M3': '0', 'M4': '0'}"
252,1,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}"
295,1,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}"
298,1,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': '0', 'M2': ['MATH 105', ['MATH111 Calcu..."
318,2,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}"
352,1,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': ['MATH 105', ['MATH211 Calculus 2 - Spr..."
353,1,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}"
354,1,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': '0', 'M2': 'CW', 'M3': '0', 'M4': '0'}"
355,1,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': ['MATH 105', ['MATH211 Calculus 2 - Spr..."
356,1,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': ['MATH 105', ['MATH211 Calculus 2 - Spr..."
357,1,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': ['MATH 105', ['MATH211 Calculus 2 - Spr..."
358,1,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': '0', 'M2': ['MATH 105', ['MATH111 Calcu..."
359,1,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': ['MATH 105', ['MATH211 Calculus 2 - Spr..."
464,1,SCHOOL OF COMPUTING,AI and Robotics,"{'M1': ['MATH 107', ['MATH211 Calculus 2 - Spr..."

In [26]:
def return_the_number_of_students_in_exam_session(exam_day, edu_programs):
    length = len(df)
    idunno = df[['STUDY_YEAR', 'SCHOOL', 'EDUCATION_PROGRAM', exam_day]]
    dictionary = {}
    total_keys = []
    for j in idunno[exam_day][0]:
        total_keys.append(j)
    
    for key in edu_programs:
        dictionary[key] = {}
        for mini_key in total_keys:
            dictionary[key][mini_key] = 0
    
    for p in range(length):
        student_edu_program = df['EDUCATION_PROGRAM'][p]
        if student_edu_program in edu_programs:
            session = df[exam_day][p]
            for q in total_keys:
                if session.get(q) and session[q] != '0':
                    dictionary[student_edu_program][q] = dictionary[student_edu_program][q] + 1
    
    new_columns = []
    new_rows = []
    
    for ii in dictionary:
        mini_list = []
        for jj in dictionary[ii]:
            mini_list.append(dictionary[ii][jj])
        new_rows.append(mini_list)
        new_columns.append(ii)
    
    dct = {}
    
    for qq in range(len(new_columns)):
        dct[new_columns[qq]] = new_rows[qq]
    
    final_df = pd.DataFrame(dct)
    final_df.index = total_keys
                
    return final_df

In [27]:
a = return_the_number_of_students_in_exam_session("MONDAY", ["Software Engineering", "Cyber Security", "AI and Robotics"])

In [28]:
a

    Software Engineering  Cyber Security  AI and Robotics
M1                    16              16                8
M2                    22               5                4
M3                    12               6                1
M4                     0               0                0

In [29]:
a = return_the_number_of_students_in_exam_session("FRIDAY", ["Mechanical Engineering", "Chemical Engineering"])

In [30]:
a

    Mechanical Engineering  Chemical Engineering
F1                      15                     0
F2                       3                     0
F3                       0                     0
F4                       0                     0

In [31]:
df

,ID,FULLNAME,STUDY_YEAR,EMAIL,STATUS,SCHOOL,EDUCATION_PROGRAM,MONDAY,TUESDAY,WEDNESDAY,THURSDAY,FRIDAY
0,210006,Urazimbetova Miyrigul Xojaaxmet qizi,4,2110006@newuu.uz,Enrolled,SCHOOL OF ENGINEERING,Chemical and Materials Engineering,"{'M1': ['MATH 205', ['Calculus 2 - Fall 2024']...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
1,210009,Goyibnazarov Ruzmatboy Oybek o‘g‘li,4,2110009@newuu.uz,Enrolled,SCHOOL OF ENGINEERING,Mechanical Engineering,"{'M1': ['MATH 105', ['MATH211 Calculus 2 - Spr...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': ['MATH B01', ['Computational...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
2,210015,Mirzabayev Damir Baxodir uli,3,2110015@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 205', ['SEC111 Comput...","{'T1': '0', 'T2': ['MATH 105', ['Numerical Met...","{'W1': '0', 'W2': ['MATH 105', ['Microeconomic...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
3,210017,Shinpolatov Nurdaulet Marat uli,4,2110017@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': ['MATH 105', ['Artifical I...","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
4,210018,Xolmurodov Bunyodbek Ruslanbek o‘g‘li,4,2110018@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 205', ['SEC111 Comput...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': ['MATH 105', ['Artifical I...","{'F1': '0', 'F2': ['MATH 105', ['Fluid Mechani..."
...,...,...,...,...,...,...,...,...,...,...,...,...
467,240498,Ibroximov Ibrohimjon Murod o'g'li,1,i.ibrohimov@newuu.uz,Enrolled,"SCHOOL OF HUMANITIES, NATURAL & SOCIAL SCIENCES",Applied Mathematics,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': ['MATH 105', ['Nanotechnology and Advan...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
468,240502,Adilov Abdumajid Abduqayumovich,1,a.adilov@newuu.uz,Enrolled,"SCHOOL OF HUMANITIES, NATURAL & SOCIAL SCIENCES",Economics and Data Science,"{'M1': ['MATH 107', ['MATH211 Calculus 2 - Spr...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
469,240506,Yoqubov Shohjaxon Shavkat o‘g‘li,1,sh.yoqubov@newuu.uz,Enrolled,"SCHOOL OF HUMANITIES, NATURAL & SOCIAL SCIENCES",Pedagogy,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': ['MATH 106', ['PHYS101 Physics 1 - Spr...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
470,240510,Raximov Azizbek Bektashovich,1,a.raximov@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 106', ['MATH111 Calcu...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': ['MATH 106', ['PHYS101 Physics 1 - Spr...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
471,240511,Muxiddinova Shaxzodabonu Zafarovna,1,sh.muxiddinova@newuu.uz,Enrolled,SCHOOL OF MANAGEMENT,Industrial Management,"{'M1': '0', 'M2': ['MATH 106', ['MATH111 Calcu...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"

In [32]:
new_df = df[['STUDY_YEAR','SCHOOL', 'EDUCATION_PROGRAM', 'MONDAY']]

In [33]:
new_df

,STUDY_YEAR,SCHOOL,EDUCATION_PROGRAM,MONDAY
0,4,SCHOOL OF ENGINEERING,Chemical and Materials Engineering,"{'M1': ['MATH 205', ['Calculus 2 - Fall 2024']..."
1,4,SCHOOL OF ENGINEERING,Mechanical Engineering,"{'M1': ['MATH 105', ['MATH211 Calculus 2 - Spr..."
2,3,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 205', ['SEC111 Comput..."
3,4,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}"
4,4,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 205', ['SEC111 Comput..."
...,...,...,...,...
467,1,"SCHOOL OF HUMANITIES, NATURAL & SOCIAL SCIENCES",Applied Mathematics,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}"
468,1,"SCHOOL OF HUMANITIES, NATURAL & SOCIAL SCIENCES",Economics and Data Science,"{'M1': ['MATH 107', ['MATH211 Calculus 2 - Spr..."
469,1,"SCHOOL OF HUMANITIES, NATURAL & SOCIAL SCIENCES",Pedagogy,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}"
470,1,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 106', ['MATH111 Calcu..."
471,1,SCHOOL OF MANAGEMENT,Industrial Management,"{'M1': '0', 'M2': ['MATH 106', ['MATH111 Calcu..."