In [10]:
import pandas as pd
import ast

In [12]:
df = pd.read_csv('new_students_data.csv')

In [13]:
df

,ID,FULLNAME,STUDY_YEAR,EMAIL,STATUS,SCHOOL,EDUCATION_PROGRAM,MONDAY,TUESDAY,WEDNESDAY,THURSDAY,FRIDAY
0,210006,Urazimbetova Miyrigul Xojaaxmet qizi,4,2110006@newuu.uz,Enrolled,SCHOOL OF ENGINEERING,Chemical and Materials Engineering,"{'M1': ['MATH 205', ['Calculus 2 - Fall 2024']...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
1,210009,Goyibnazarov Ruzmatboy Oybek o‘g‘li,4,2110009@newuu.uz,Enrolled,SCHOOL OF ENGINEERING,Mechanical Engineering,"{'M1': ['MATH 105', ['MATH211 Calculus 2 - Spr...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': ['MATH B01', ['Computational...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
2,210015,Mirzabayev Damir Baxodir uli,3,2110015@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 205', ['SEC111 Comput...","{'T1': '0', 'T2': ['MATH 105', ['Numerical Met...","{'W1': '0', 'W2': ['MATH 105', ['Microeconomic...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
3,210017,Shinpolatov Nurdaulet Marat uli,4,2110017@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': ['MATH 105', ['Artifical I...","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
4,210018,Xolmurodov Bunyodbek Ruslanbek o‘g‘li,4,2110018@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 205', ['SEC111 Comput...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': ['MATH 105', ['Artifical I...","{'F1': '0', 'F2': ['MATH 105', ['Fluid Mechani..."
...,...,...,...,...,...,...,...,...,...,...,...,...
467,240498,Ibroximov Ibrohimjon Murod o'g'li,1,i.ibrohimov@newuu.uz,Enrolled,"SCHOOL OF HUMANITIES, NATURAL & SOCIAL SCIENCES",Applied Mathematics,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': ['MATH 105', ['Nanotechnology and Advan...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
468,240502,Adilov Abdumajid Abduqayumovich,1,a.adilov@newuu.uz,Enrolled,"SCHOOL OF HUMANITIES, NATURAL & SOCIAL SCIENCES",Economics and Data Science,"{'M1': ['MATH 107', ['MATH211 Calculus 2 - Spr...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
469,240506,Yoqubov Shohjaxon Shavkat o‘g‘li,1,sh.yoqubov@newuu.uz,Enrolled,"SCHOOL OF HUMANITIES, NATURAL & SOCIAL SCIENCES",Pedagogy,"{'M1': '0', 'M2': '0', 'M3': '0', 'M4': '0'}","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': ['MATH 106', ['PHYS101 Physics 1 - Spr...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
470,240510,Raximov Azizbek Bektashovich,1,a.raximov@newuu.uz,Enrolled,SCHOOL OF COMPUTING,Software Engineering,"{'M1': '0', 'M2': ['MATH 106', ['MATH111 Calcu...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': ['MATH 106', ['PHYS101 Physics 1 - Spr...","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"
471,240511,Muxiddinova Shaxzodabonu Zafarovna,1,sh.muxiddinova@newuu.uz,Enrolled,SCHOOL OF MANAGEMENT,Industrial Management,"{'M1': '0', 'M2': ['MATH 106', ['MATH111 Calcu...","{'T1': '0', 'T2': '0', 'T3': '0', 'T4': '0'}","{'W1': '0', 'W2': '0', 'W3': '0', 'W4': '0'}","{'TH1': '0', 'TH2': '0', 'TH3': '0', 'TH4': '0'}","{'F1': '0', 'F2': '0', 'F3': '0', 'F4': '0'}"

In [14]:
df['MONDAY'] = df['MONDAY'].apply(ast.literal_eval)
df['TUESDAY'] = df['TUESDAY'].apply(ast.literal_eval)
df['WEDNESDAY'] = df['WEDNESDAY'].apply(ast.literal_eval)
df['THURSDAY'] = df['THURSDAY'].apply(ast.literal_eval)
df['FRIDAY'] = df['FRIDAY'].apply(ast.literal_eval)

In [15]:
type(df['MONDAY'][2]['M2'][1][2])

str

In [16]:
df['MONDAY'][2]['M2'][1]

['SEC111 Computer Security', 'DSG201 Interaction Design', 'Bioengineering']

In [17]:
df.isnull().sum()

ID                   0
FULLNAME             0
STUDY_YEAR           0
EMAIL                0
STATUS               0
SCHOOL               0
EDUCATION_PROGRAM    0
MONDAY               0
TUESDAY              0
WEDNESDAY            0
THURSDAY             0
FRIDAY               0
dtype: int64

In [18]:
a = df.columns

In [20]:
for i in a:
    print(i, ' - ', type(df[i][0]))

ID  -  <class 'numpy.int64'>
FULLNAME  -  <class 'str'>
STUDY_YEAR  -  <class 'numpy.int64'>
EMAIL  -  <class 'str'>
STATUS  -  <class 'str'>
SCHOOL  -  <class 'str'>
EDUCATION_PROGRAM  -  <class 'str'>
MONDAY  -  <class 'dict'>
TUESDAY  -  <class 'dict'>
WEDNESDAY  -  <class 'dict'>
THURSDAY  -  <class 'dict'>
FRIDAY  -  <class 'dict'>